@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<br />
<section style="background-color: #E9EEF8; ">
    <div class="container px-5">
        <div class="row gx-5 align-items-center justify-content-center justify-content-lg-between">
            <div class="col-12 col-lg-5">
                <br />
                <h2 class="display-4 lh-1 mb-4">Business Intelligence and Analytics</h2>
                <p class="lead fw-normal text-muted mb-5 mb-lg-0">
                    Business Analytics goes beyond simple data collection. Through skillful analysis, this in-demand discipline provides professionals 
                    with an overall view of an organization’s standing, answering vital questions about financial gains and losses, areas for improvement 
                    and product performance.
                </p>
                <br />
            </div>
            <div class="col-sm-8 col-md-6">
                <div class="px-5 px-sm-0">
                    <img class="img-fluid rounded" src="~/images/analytics.JPG" alt="Students standing around" />
                </div>
            </div>
        </div>
    </div>
</section>
<br />

<div class="container px-5">
    <div class="row gx-5 align-items-center justify-content-center justify-content-lg-between">
        <div class="col-12 col-lg-12">


            <h5 class="card-title">Types of Jobs</h5>
            <ul>
                <li><p class="card-text">Data Scientist</p></li>
                <li><p class="card-text">Data Analyst</p></li>
                <li><p class="card-text">Data Engineer</p></li>
                <li><p class="card-text">Database Administrator</p></li>
                <li><p class="card-text">Data Architect</p></li>
                <li><p class="card-text">Machine Learning Engineer</p></li>
            </ul>

            <h5 class="card-title">Resources</h5>
            <ul>
                <li><p class="card-text"><a href="https://www.mygreatlearning.com/blog/business-analytics-jobs/">Great Learning</a> provides a greater description of some of the different career options in Business Intelligence</p></li>
                <li><p class="card-text"><a href="https://www.onlinecoursereport.com/free/business-analytics/">Online Course Report</a> reviews different available online courses that are related to Business Analytics</p></li>
                <li><p class="card-text"><a href="https://tdwi.org/cbip?m=1">CBIP Certification</a> is recognized as one of the top Business Intelligence Certifications</p></li>
                <li><p class="card-text"><a href="https://www.tableau.com/">Tableau</a> is one of the most common skills used in data visualization that is critical for entry-level positions.</p></li>
                <li><p class="card-text"><a href="https://powerbi.microsoft.com/en-us/">Power BI</a> is the Microsoft data visualization tool and one that is frequently used by companies.</p></li>

            </ul>

            <h5 class="card-title">Classes</h5>
            <ul>
                <li><p class="card-text"> IT 555: Business Intelligence</p></li>
                <li><p class="card-text"> LING 360/DigHT 360: Text Processing and Analysis</p></li>
                <li><p class="card-text"> LING 581: Natural Language Processing</p></li>
                <li><p class="card-text"> IS 566: Advanced Database</p></li>
                <li><p class="card-text"> MKTG 415 / MBA 554: Internet Marketing </p></li>
                <li><p class="card-text"> STAT 511: Stat Methods for Research 1 </p></li>
                <li><p class="card-text"> STAT 512: Stat Methods for Research 2 </p></li>
                <li><p class="card-text"> MBA 693R: Advanced Analytics </p></li>
                <li><p class="card-text"> MPA 634: Data Analysis and Forecasting</p></li>
                <li><p class="card-text"> CS 478: Tools for Machine Learning and Data Mining </p></li>
                <li><p class="card-text"> IS 515: Spreadsheets for Business Analysis </p></li>
                <li><p class="card-text"> IS 520: Spreadsheet and DB Automation Programming </p></li>
                <li><p class="card-text"> IS 565: Digital Forensics for Organizations</p></li>
                (This is not a complete list of all possible courses. Class codes may vary.)
            </ul>
            <br />

        </div>
    </div>
</div>