@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<br />
<section style="background-color: #E9EEF8; ">
    <div class="container px-5">
        <div class="row gx-5 align-items-center justify-content-center justify-content-lg-between">
            <div class="col-12 col-lg-5">
                <br />
                <h2 class="display-4 lh-1 mb-4">Consulting</h2>
                <p class="lead fw-normal text-muted mb-5 mb-lg-0">
                    Consultants work with organizations and clients to solve business problems. Day to day activities can consist of auditing business processes, evaluating potential solutions, and working with a Client to build a software solution that solves the problem.
                </p>
                <br />
            </div>
            <div class="col-sm-8 col-md-6">
                <div class="px-5 px-sm-0"><img class="img-fluid rounded" src="~/images/consulting.jpg" alt="..." /></div>
            </div>
        </div>
    </div>
</section>
<br />

<div class="container px-5">
    <div class="row gx-5 align-items-center justify-content-center justify-content-lg-between">
        <div class="col-12 col-lg-12">


            <h5 class="card-title">Types of Jobs</h5>
            <ul>
                <li><p class="card-text">AWS</p></li>
                <li><p class="card-text">Pariveda</p></li>
                <li><p class="card-text">Solvd.cloud</p></li>
                <li><p class="card-text">Tech Consulting</p></li>
              
            </ul>

            <h5 class="card-title">Resources</h5>
            <ul>
                <li><p class="card-text"><a href="https://www.myconsultingoffer.org/resources/">Consulting Resources</a> for the interview process</p></li>
                <li><p class="card-text"><a href="https://trailhead.salesforce.com/en/credentials/administratoroverview/">Salesforce</a> certifications</p></li>
            </ul>

            @*<h5 class="card-title">Classes</h5>
            <ul>
                <li><p class="card-text"> IT 355: Human Computer Interaction</p></li>
                <li><p class="card-text"> IS 403: Principles of Business Programming</p></li>
                <li><p class="card-text"> IT 410: Advanced Web Technologies</p></li>
                <li><p class="card-text"> IS 413: Enterprise Application Development </p></li>
                <li><p class="card-text"> IS 520: Spreadsheet and DB Automation Programming </p></li>
                <li><p class="card-text"> IS 537– Data Structures and Algorithms </p></li>
                <li><p class="card-text"> IS 542: Web Development </p></li>
                <li><p class="card-text"> IS 543: Mobile Platform Development – iOS </p></li>
                <li><p class="card-text"> IS 566: Advanced Database</p></li>
                (This is not a complete list of all possible courses. Class codes may vary.)
            </ul>*@
            <br />

        </div>
    </div>
</div>



