@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<br />
<section style="background-color: #E9EEF8; ">
    <div class="container px-5">
        <div class="row gx-5 align-items-center justify-content-center justify-content-lg-between">
            <div class="col-12 col-lg-5">
                <br />
                <h2 class="display-4 lh-1 mb-4">Development</h2>
                <p class="lead fw-normal text-muted mb-5 mb-lg-0">
                    Software developers assist in software development activities on current projects. Including development tasks in various programming languages, unit testing, debugging, and correcting defects in code, meetings with project team members and customers, reporting on current activities, working with databases, and issue tracking systems, and working in both individual and paired programming assignments.
                </p>
                <br />
            </div>
            <div class="col-sm-8 col-md-6">
                <div class="px-5 px-sm-0"><img class="img-fluid rounded" src="~/images/Dev2.jpg" alt="..." /></div>
            </div>
        </div>
    </div>
</section>
<br />

<div class="container px-5">
    <div class="row gx-5 align-items-center justify-content-center justify-content-lg-between">
        <div class="col-12 col-lg-12">


            <h5 class="card-title">Types of Jobs</h5>
            <ul>
                <li><p class="card-text">Software Developer</p></li>
                <li><p class="card-text">Full Stack Web Developer</p></li>
                <li><p class="card-text">Front-End Web Developer</p></li>
                <li><p class="card-text">Back-End Web Developer</p></li>
                <li><p class="card-text">Mobile App Developer</p></li>
                <li><p class="card-text">Quality Assurance </p></li>
                <li><p class="card-text">User Experience and User Interface Design (UI/UX)</p></li>
            </ul>

            <h5 class="card-title">Resources</h5>
            <ul>
                <li><p class="card-text"><a href="https://leetcode.com/">LeetCode</a> has practice problems for technical interviews</p></li>
                <li><p class="card-text"><a href="https://www.hackerrank.com/">HackerRank</a> is another resource for  practice technical interview practice</p></li>
                <li><p class="card-text"><a href="https://leetcode.com/">Cracking the Coding Interview</a> is a book that has practice interview questions, walkthroughs, and techniques to prepare for the soft side of Development interviews</p></li>
                <li><p class="card-text"><a href="https://www.learnui.design/blog/">Learn UI</a> has great resources to learn more about what UI/UX is and best practices.</p></li>
                <li><p class="card-text">You can complete a free <a href="https://www.freecodecamp.org/learn/quality-assurance/">Quality Assurance Course</a> to learn more about testing.</p></li>

            </ul>

            <h5 class="card-title">Classes</h5>
            <ul>
                <li><p class="card-text"> IT 355: Human Computer Interaction</p></li>
                <li><p class="card-text"> IS 403: Principles of Business Programming</p></li>
                <li><p class="card-text"> IT 410: Advanced Web Technologies</p></li>
                <li><p class="card-text"> IS 413: Enterprise Application Development </p></li>
                <li><p class="card-text"> IS 520: Spreadsheet and DB Automation Programming </p></li>
                <li><p class="card-text"> IS 537– Data Structures and Algorithms </p></li>
                <li><p class="card-text"> IS 542: Web Development </p></li>
                <li><p class="card-text"> IS 543: Mobile Platform Development – iOS </p></li>
                <li><p class="card-text"> IS 566: Advanced Database</p></li>
                (This is not a complete list of all possible courses. Class codes may vary.)
            </ul>
            <br />

        </div>
    </div>
</div>



