@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">IS Career Exploration</h1>
    <p>Click the survey or resource button below to learn more about your possible IS career.</p>
    <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="Resources">Resources</a>
    <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="Survey">Survey</a>
</div>
