
@{
}

<br />
<section style="background-color: #E9EEF8; ">
    <div class="container px-5">
        <div class="row gx-5 align-items-center justify-content-center justify-content-lg-between">
            <div class="col-12 col-lg-5">
                <br />
                <h2 class="display-4 lh-1 mb-4">Information Technology</h2>
                <p class="lead fw-normal text-muted mb-5 mb-lg-0">
                    Information Technology is the handling of system infrastructure & hardware for an organization. Since this is so closely related to Information Systems, students often find themselves drawn to these roles.
                </p>
                <br />
            </div>
            <div class="col-sm-8 col-md-6">
                <div class="px-5 px-sm-0"><img class="img-fluid rounded" src="~/images/ITpg.jpg" alt="..." /></div>
            </div>
        </div>
    </div>
</section>
<br />

<div class="container px-5">
    <div class="row gx-5 align-items-center justify-content-center justify-content-lg-between">
        <div class="col-12 col-lg-12">
   

            <h5 class="card-title">Types of Jobs</h5>
            <ul>
                <li><p class="card-text">IT Technician</p></li>
                <li><p class="card-text">Support Specialist</p></li>
            </ul>

            <h5 class="card-title">Classes</h5>
            <ul>
                <li><p class="card-text">Refer to the <a href="http://catalog.byu.edu/engineering/school-of-technology/information-technology-bs">Information Technology</a> course catalog for possible courses to take with your Information System classes.</p></li>
            </ul>
            <br />

        </div>
    </div>
</div>


