@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<br />
<section style="background-color: #E9EEF8; ">
    <div class="container px-5">
        <div class="row gx-5 align-items-center justify-content-center justify-content-lg-between">
            <div class="col-12 col-lg-5">
                <br />
                <h2 class="display-4 lh-1 mb-4">Management</h2>
                <p class="lead fw-normal text-muted mb-5 mb-lg-0">
                    Project Managers oversee the planning, implementation, and tracking of a specific short-term project that has a beginning, an end and specified deliverables. 
                    PMs interacts with customers, engineers, team leads, and other team members throughout the completion the project.
                </p>
                <br />
            </div>
            <div class="col-sm-8 col-md-6">
                <div class="px-5 px-sm-0">
                    <img class="img-fluid rounded" src="~/images/management.jpg" alt="Someone Managing" />
                </div>
            </div>
        </div>
    </div>
</section>
<br />

<div class="container px-5">
    <div class="row gx-5 align-items-center justify-content-center justify-content-lg-between">
        <div class="col-12 col-lg-12">


            <h5 class="card-title">Types of Jobs</h5>
            <ul>
                <li><p class="card-text">Program/Product Management</p></li>
                <li><p class="card-text">Project Management</p></li>
            </ul>

            <h5 class="card-title">Resources</h5>
            <ul>
                <li><p class="card-text"><a href="https://www.pmi.org/certifications/certified-associate-capm">CAPM Certification</a> Project Management Institute offers a Certified Associate in Project Management Certificate that is well recognized in the project management community.</p></li>
                <li><p class="card-text"><a href="https://www.pmi.org/certifications/project-management-pmp">PMP Certification</a> is a more advanced certification requiring project experience and passing an exam. This is well regarded in project management and greatly helps job prospects.</p></li>
                <li><p class="card-text"><a href="https://www.pmi.org/about/learn-about-pmi/what-is-project-management">Description</a> about what project management actually is!</p></li>
                <li><p class="card-text"><a href="https://www.linkedin.com/learning/product-management-first-steps">LinkedIn Learning</a> course about first steps in Product Management.</p></li>
                <li><p class="card-text"><a href="https://www.usnews.com/education/product-management-guide">US News</a> reviews the basics of how to learn project management.</p></li>

            </ul>

            <h5 class="card-title">Classes</h5>
            <ul>
                <li><p class="card-text"> IS 405: Project Management</p></li>
                <li><p class="card-text"> STRAT 427: Consulting Project Management</p></li>
                (This is not a complete list of all possible courses. Class codes may vary.)
            </ul>
            <br />

        </div>
    </div>
</div>
