
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<br />
<section style="background-color: #E9EEF8; ">
    <div class="container px-5">
        <div class="row gx-5 align-items-center justify-content-center justify-content-lg-between">
            <div class="col-12 col-lg-5">
                <br />
                <h2 class="display-4 lh-1 mb-4">Other</h2>
                <p class="lead fw-normal text-muted mb-5 mb-lg-0">
                    Many students take the skills they develop in the IS program to other areas of work they are passionate about. Student have found opportunities to use technology to find innovative solutions for companies not in the technology industry, such as family businesses or their own start-ups.
                </p>
                <br />
            </div>
            <div class="col-sm-8 col-md-6">
                <div class="px-5 px-sm-0"><img class="img-fluid rounded" src="~/images/atrium.jpg" alt="..." /></div>
            </div>
        </div>
    </div>
</section>
<br />

<div class="container px-5">
    <div class="row gx-5 align-items-center justify-content-center justify-content-lg-between">
        <div class="col-12 col-lg-12">


            <h5 class="card-title">Types of Jobs</h5>
            <ul>
                <li><p class="card-text">Tech Sales</p></li>
                <li><p class="card-text">Startups</p></li>
                <li><p class="card-text">Any field with technology</p></li>
            </ul>

            @*<h5 class="card-title">Resources</h5>
                <ul>
                    <li><p class="card-text"><a href="https://www.myconsultingoffer.org/resources/">Consulting Resources</a> for the interview process</p></li>
                    <li><p class="card-text"><a href="https://trailhead.salesforce.com/en/credentials/administratoroverview/">Salesforce</a> certifications</p></li>
                </ul>*@

            <h5 class="card-title">Classes</h5>
            <ul>
                <li><p class="card-text"> MBA 593R First Fall: Pre-PhD Prep</p></li>
                <li><p class="card-text"> IS 552 Second Winter: MISM Capstone Project (Research)</p></li>
                <li><p class="card-text"> IS 693R: Teaching (Replaces IS 550)</p></li>
                <li><p class="card-text"> IS 571 First Winter: Introduction to Academic Research in Information Systems</p></li>
                <li><p class="card-text"> IS 693R Second Fall: Research</p></li>
                <li><p class="card-text"> ACC 591R: Pre-PhD Prep by David Wood</p></li>
                <li><p class="card-text"> STAT 511: Statistical Methods for Research 1 </p></li>
                <li><p class="card-text"> STAT 512: Statistical Methods for Research 2 </p></li>
                <li><p class="card-text"> PSYCH 712R: Functional MRI Design & Analysis</p></li>
                <li><p class="card-text"> MKTG 412 - Professional Selling</p></li>
                <li><p class="card-text">PSYCH 712R: Functional MRI Design & Analysis</p></li>
                (This is not a complete list of all possible courses. Class codes may vary.)
            </ul>
            <br />

        </div>
    </div>
</div>


