@{
}

<div class="text-center">
    <h1 class="display-4">Resources</h1>
</div>

@*BUTTON CARDS*@
@*SPECIFIC RESOURCES*@
<br />
<br />
<div class="container">
    <div class="row">
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <img src="~/images/development.JPG" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Development</h5>
                    <p class="card-text">Development information and resources</p>
                    <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="Development">Search</a>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <img src="~/images/analytics.JPG" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Business Analytics</h5>
                    <p class="card-text">Business Analytics and Intelligence resources</p>
                    <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="BusinessIntelligence">Search</a>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <img src="~/images/security.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Security</h5>
                    <p class="card-text">Cybersecurity information and resources</p>
                    <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="ISCareerExplorer">Search</a>
                </div>
            </div>
        </div>
    </div>
</div>

<br />
<br />


<div class="container">
    <div class="row">
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <img src="~/images/management.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Management</h5>
                    <p class="card-text">
                        Management information and resources
                    </p>
                    <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="Management">Search</a>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="col-4">
                <div class="card" style="width: 18rem;">
                    <img src="~/images/consulting.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Consulting</h5>
                        <p class="card-text">Program, Product, and Project Consulting resources</p>
                        <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="Top10Companies">Search</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="col-4">
                <div class="card" style="width: 18rem;">
                    <img src="~/images/IT.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Information Technology</h5>
                        <p class="card-text">Information Technology resources and information</p>
                        <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="InformationTechnology">Search</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*******************************************@

@*BUTTON CARDS*@
@*GENERAL RESOURCES*@
<br />
<br />
<div class="container">
    <div class="row">
        @*<div class="col-1.5">
            </div>*@
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <img src="~/images/tannerbuilding.JPG" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Discover IS</h5>
                    <p class="card-text">General information about IS including what is IS, career options, and contact information</p>
                    <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="DiscoverIS">Search</a>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <img src="~/images/student.JPG" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">IS Careers Website</h5>
                    <p class="card-text">This website has many resources inlcuding stats, friday forecast, mentorship, and more</p>
                    <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="ISCareersWebsite">Search</a>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <img src="~/images/atrium.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">IS Career Explorer</h5>
                    <p class="card-text">This dashboard provides information about salaries, hiring companies, skills, and more</p>
                    <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="ISCareerExplorer">Search</a>
                </div>
            </div>
        </div>
        @*<div class="col-1.5">
            </div>*@
    </div>
</div>

<br />
<br />


<div class="container">
    <div class="row">
        @*<div class="col-1.5">
            </div>*@
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <img src="~/images/team.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Ask Reid's Team</h5>
                    <p class="card-text">
                        Reid has a team of students anxiously waiting to answer your questions
                    </p>
                    <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="ReidTeam">Search</a>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="col-4">
                <div class="card" style="width: 18rem;">
                    <img src="~/images/tanner.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Top 10 Hiring Companies</h5>
                        <p class="card-text">This page shows the top 10 companies that hire IS students out of BYU</p>
                        <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="Top10Companies">Search</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="col-4">
                <div class="card" style="width: 18rem;">
                    <img src="~/images/tables.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">MyMap</h5>
                        <p class="card-text">Explore courses that you can take in the Information Systems major at BYU</p>
                        <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="MyMap">Search</a>
                    </div>
                </div>
            </div>
        </div>
        @*<div class="col-1.5">
            </div>*@
    </div>
</div>


<br />
<br />

