@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<br />
<section style="background-color: #E9EEF8; ">
    <div class="container px-5">
        <div class="row gx-5 align-items-center justify-content-center justify-content-lg-between">
            <div class="col-12 col-lg-5">
                <br />
                <h2 class="display-4 lh-1 mb-4">Security</h2>
                <p class="lead fw-normal text-muted mb-5 mb-lg-0">
                    Security professionals monitor intrusion detection systems, analyze log data for suspicious activity, investigate and research emerging security threats, and evaluate system vulnerabilities.
                    Protecting information security systems today takes advanced training; candidates for sought-after positions must possess up-to date knowledge and sharp skills.
                </p>
                <br />
            </div>
            <div class="col-sm-8 col-md-6">
                <div class="px-5 px-sm-0">
                    <img class="img-fluid rounded" src="~/images/cybersecurity.jpg" alt="Lock keeping things safe" />
                </div>
            </div>
        </div>
    </div>
</section>
<br />

<div class="container px-5">
    <div class="row gx-5 align-items-center justify-content-center justify-content-lg-between">
        <div class="col-12 col-lg-12">


            <h5 class="card-title">Types of Jobs</h5>
            <ul>
                <li><p class="card-text">Penetration Testing</p></li>
                <li><p class="card-text">Security Consulting</p></li>
                <li><p class="card-text">Risk Assurance</p></li>
                <li><p class="card-text">Security Professional</p></li>
            </ul>

            <h5 class="card-title">Resources</h5>
            <ul>
                <li><p class="card-text"><a href="https://www.isc2.org/Certifications/CISSP#">CISSP Certification</a> is the Certified Information Systems Security Professional certification.</p></li>
                <li><p class="card-text"><a href="https://www.comptia.org/certifications/security">CompTIA Security+ Certification</a> is a global certification that validates the necessary baseline skills to perform core security functions.</p></li>
                <li><p class="card-text"><a href="https://www.securitymagazine.com/articles/95647-getting-started-in-cybersecurity-6-essential-skills-to-consider">Essential Skills</a> that Security magazine thinks that everyone needs to know.</p></li>
                <li><p class="card-text"><a href="https://www.mygreatlearning.com/blog/how-to-start-a-cyber-security-career/">Great Learning</a> provides ideas on how to start a cyber security career in 2023.</p></li>
            </ul>

            <h5 class="card-title">Classes</h5>
            <ul>
                <li><p class="card-text"> IS 533: Advanced Data Communication</p></li>
                <li><p class="card-text"> IS 565: Digital Forensics for Organizations</p></li>
                <li><p class="card-text"> IT 566: Digital Forensics</p></li>
                <li><p class="card-text"> IT 567: Cyber Security and Penetration Testing</p></li>
                <li><p class="card-text"> ACC 550: Fraud Prevention & Detection</p></li>
                <li><p class="card-text"> IS 414: Information Systems Security and Controls</p></li>
                <li><p class="card-text"> IS 560: Information Security Management</p></li>
                (This is not a complete list of all possible courses. Class codes may vary.)
            </ul>
            <br />

        </div>
    </div>
</div>