@{
    ViewData["Title"] = "Survey Page";
    ViewData["Header"] = "Survey";
}

@*@model SurveyModel;*@

<br />


@*SURVEY*@
<fieldset style="width: 700px;">
    <form style="background-color: #F4F4F4; padding-left:18%; padding-top:10%;opacity: 0.8; width: 1100px; margin-bottom: auto; margin-left: auto; margin-right: auto; border-radius: 20px;" method="post">

        <div asp-validation-summary="All"></div>

        @*#1*@
        <label style="font-size:16px; font-weight:bold;">What was your favorite part of IS 201?</label>
        <br />
        <input id="1" type="radio" name="1" value="Tableau" />
        <label for="1">Tableau</label>
        <br />
        <input id="1" type="radio" name="1" value="HTML/CSS" />
        <label for="1">HTML/CSS</label>
        <br />
        <input id="1" type="radio" name="1" value="VBA" />
        <label for="1">VBA</label>
        <br />
        <input id="1" type="radio" name="1" value="ERD" />
        <label for="1">Building ERD's</label>
        <br />
        <input id="1" type="radio" name="1" value="Security" />
        <label for="1">Security and Privacy</label>
        <br />
        <input id="1" type="radio" name="1" value="BI" />
        <label for="1">Business Intelligence (Data Visualizations, Analytics, Solver)</label>
        <br />
        <input id="1" type="radio" name="1" value="NA" />
        <label for="1">Haven't taken IS 201</label>
        <br />
        <br />

        @*#2*@
        <label style="font-size: 16px; font-weight: bold;">Did you enjoy IS 303 or CS 142?</label>
        <br />
        <input id="2" type="radio" name="2" value="Yes" />
        <label for="2">Yes</label>
        <br />
        <input id="2" type="radio" name="2" value="No" />
        <label for="2">No</label>
        <br />
        <input id="2" type="radio" name="2" value="NA" />
        <label for="2">Haven't taken either</label>
        <br />
        <br />

        @*#3*@
        <label style="font-size: 16px; font-weight: bold;">Do you prefer your work to consist mostly of working with people or with technology?</label>
        <br />
        <input id="3" type="radio" name="3" value="People" />
        <label for="3">People</label>
        <br />
        <input id="3" type="radio" name="3" value="Technology" />
        <label for="3">Technology</label>
        <br />
        <input id="3" type="radio" name="3" value="Both" />
        <label for="3">Mix of both</label>
        <br />
        <br />

        @*#4*@
        <label style="font-size: 16px; font-weight: bold;">What technologies interest you the most?</label>
        <br />
        <input id="4" type="radio" name="4" value="C#, JavaScript, HTML, CSS" />
        <label for="4">C#, JavaScript, HTML, CSS</label>
        <br />
        <input id="4" type="radio" name="4" value="Encryption, Password Cracking, Penetration Testing" />
        <label for="4">Encryption, Password Cracking, Penetration Testing</label>
        <br />
        <input id="4" type="radio" name="4" value="Organization through Kanban" />
        <label for="4">Organization through Kanban</label>
        <br />
        <input id="4" type="radio" name="4" value="Statistics with Python" />
        <label for="4">Statistics with Python</label>
        <br />
        <input id="4" type="radio" name="4" value="Salesforce" />
        <label for="4">Salesforce</label>
        <br />
        <input id="4" type="radio" name="4" value="Ticketing Systems (Jira)" />
        <label for="4">Ticketing Systems (Jira)</label>
        <br />
        <br />

        @*#5*@
        <label style="font-size: 16px; font-weight: bold;">Which of these scenarios/problems would you most be interested in tackling?</label>
        <br />
        <input id="5" type="radio" name="5" value="Unidentified Error" />
        <label for="5">Code is throwing an unidentified error</label>
        <br />
        <input id="5" type="radio" name="5" value="Monitoring System" />
        <label for="5">A monitoring system throwing an alert for secure information being accessed</label>
        <br />
        <input id="5" type="radio" name="5" value="New project" />
        <label for="5">A company has a new project that needs requirements created and planned</label>
        <br />
        <input id="5" type="radio" name="5" value="Model to predict" />
        <label for="5">Creating a model to predict whether or not customers will use a product based on set features</label>
        <br />
        <input id="5" type="radio" name="5" value="Create a technology" />
        <label for="5">Working with a company to create a technology that fits their needs</label>
        <br />
        <input id="5" type="radio" name="5" value="Troubleshooting" />
        <label for="5">Troubleshooting issues with the company website </label>
        <br />
        <br />

        @*#6*@
        <label style="font-size: 16px; font-weight: bold;">What word best describes you?</label>
        <br />
        <input id="6" type="radio" name="6" value="Designer/Creator" />
        <label for="6">Designer/Creator</label>
        <br />
        <input id="6" type="radio" name="6" value="Preventer" />
        <label for="6">Preventer</label>
        <br />
        <input id="6" type="radio" name="6" value="Planner" />
        <label for="6">Planner</label>
        <br />
        <input id="6" type="radio" name="6" value="Leader" />
        <label for="6">Leader</label>
        <br />
        <input id="6" type="radio" name="6" value="Problem Solver" />
        <label for="6">Problem Solver</label>
        <br />
        <input id="6" type="radio" name="6" value="Analytical" />
        <label for="6">Analytical</label>
        <br />
        <br />

        @*#7*@
        <label style="font-size: 16px; font-weight: bold;">Would you prefer more or less frequent change when working with technologies in your career?</label>
        <br />
        <input id="7" type="radio" name="7" value="More Frequent" />
        <label for="7">More Frequent</label>
        <br />
        <input id="7" type="radio" name="7" value="Less Frequent" />
        <label for="7">Less Frequent</label>
        <br />
        <br />

        @*#8*@
        <label style="font-size: 16px; font-weight: bold;">Which of the following activities do you enjoy the most?</label>
        <br />
        <input id="8" type="radio" name="8" value="Math" />
        <label for="8">Use Math and Calculations</label>
        <br />
        <input id="8" type="radio" name="8" value="Innovate" />
        <label for="8">Innovate and Create</label>
        <br />
        <input id="8" type="radio" name="8" value="Support" />
        <label for="8">Support and Assist</label>
        <br />
        <input id="8" type="radio" name="8" value="Plan" />
        <label for="8">Plan and Organize</label>
        <br />
        <input id="8" type="radio" name="8" value="Treat" />
        <label for="8">Treat and Cure</label>
        <br />
        <input id="8" type="radio" name="8" value="Manage" />
        <label for="8">Manage and Supervise</label>
        <br />
        <br />


        <label style="font-size: 20px; font-weight: bold;">Please rank the following</label>
        <br />

        @*#9*@
        <label style="font-size: 16px; font-weight: bold;">Utilizing artistic abilities</label>
        <br />
        <input id="9" type="radio" name="9" value="NotInterested" />
        <label for="9">Not Interested</label>
        <br />
        <input id="9" type="radio" name="9" value="SlightlyInterested" />
        <label for="9">Slightly Interested</label>
        <br />
        <input id="9" type="radio" name="9" value="Interested" />
        <label for="9">Interested</label>
        <br />
        <input id="9" type="radio" name="9" value="ExtremelyInterested" />
        <label for="9">Extremely Interested</label>
        <br />
        <br />

        @*#10*@
        <label style="font-size: 16px; font-weight: bold;">Build a Mobile App</label>
        <br />
        <input id="10" type="radio" name="10" value="NotInterested" />
        <label for="10">Not Interested</label>
        <br />
        <input id="10" type="radio" name="10" value="SlightlyInterested" />
        <label for="10">Slightly Interested</label>
        <br />
        <input id="10" type="radio" name="10" value="Interested" />
        <label for="10">Interested</label>
        <br />
        <input id="10" type="radio" name="10" value="ExtremelyInterested" />
        <label for="10">Extremely Interested</label>
        <br />
        <br />

        @*#11*@
        <label style="font-size: 16px; font-weight: bold;">Review data and present your findings to a team</label>
        <br />
        <input id="11" type="radio" name="11" value="NotInterested" />
        <label for="11">Not Interested</label>
        <br />
        <input id="11" type="radio" name="11" value="SlightlyInterested" />
        <label for="11">Slightly Interested</label>
        <br />
        <input id="11" type="radio" name="11" value="Interested" />
        <label for="11">Interested</label>
        <br />
        <input id="11" type="radio" name="11" value="ExtremelyInterested" />
        <label for="11">Extremely Interested</label>
        <br />
        <br />

        @*#12*@
        <label style="font-size: 16px; font-weight: bold;">Create and design graphics</label>
        <br />
        <input id="12" type="radio" name="12" value="NotInterested" />
        <label for="12">Not Interested</label>
        <br />
        <input id="12" type="radio" name="12" value="SlightlyInterested" />
        <label for="12">Slightly Interested</label>
        <br />
        <input id="12" type="radio" name="12" value="Interested" />
        <label for="12">Interested</label>
        <br />
        <input id="12" type="radio" name="12" value="ExtremelyInterested" />
        <label for="12">Extremely Interested</label>
        <br />
        <br />


        @*#13*@
        <label style="font-size: 16px; font-weight: bold;">Support others in their ability to utilize technology devices</label>
        <br />
        <input id="13" type="radio" name="13" value="NotInterested" />
        <label for="13">Not Interested</label>
        <br />
        <input id="13" type="radio" name="13" value="SlightlyInterested" />
        <label for="13">Slightly Interested</label>
        <br />
        <input id="13" type="radio" name="13" value="Interested" />
        <label for="13">Interested</label>
        <br />
        <input id="13" type="radio" name="13" value="ExtremelyInterested" />
        <label for="13">Extremely Interested</label>
        <br />
        <br />


        @*#14*@
        <label style="font-size: 16px; font-weight: bold;">Lead a team to complete projects</label>
        <br />
        <input id="14" type="radio" name="14" value="NotInterested" />
        <label for="14">Not Interested</label>
        <br />
        <input id="14" type="radio" name="14" value="SlightlyInterested" />
        <label for="14">Slightly Interested</label>
        <br />
        <input id="14" type="radio" name="14" value="Interested" />
        <label for="14">Interested</label>
        <br />
        <input id="14" type="radio" name="14" value="ExtremelyInterested" />
        <label for="14">Extremely Interested</label>
        <br />
        <br />



        @*#15*@
        <label style="font-size: 16px; font-weight: bold;">Monitoring a companies security checkpoints</label>
        <br />
        <input id="15" type="radio" name="15" value="NotInterested" />
        <label for="15">Not Interested</label>
        <br />
        <input id="15" type="radio" name="15" value="SlightlyInterested" />
        <label for="15">Slightly Interested</label>
        <br />
        <input id="15" type="radio" name="15" value="Interested" />
        <label for="15">Interested</label>
        <br />
        <input id="15" type="radio" name="15" value="ExtremelyInterested" />
        <label for="15">Extremely Interested</label>
        <br />
        <br />


        @*#16*@
        <label style="font-size: 16px; font-weight: bold;">Create a database from scratch for a company</label>
        <br />
        <input id="16" type="radio" name="16" value="NotInterested" />
        <label for="16">Not Interested</label>
        <br />
        <input id="16" type="radio" name="16" value="SlightlyInterested" />
        <label for="16">Slightly Interested</label>
        <br />
        <input id="16" type="radio" name="16" value="Interested" />
        <label for="16">Interested</label>
        <br />
        <input id="16" type="radio" name="16" value="ExtremelyInterested" />
        <label for="16">Extremely Interested</label>
        <br />
        <br />

        @*#17*@
        <label style="font-size: 16px; font-weight: bold;">Participate in business strategy sessions</label>
        <br />
        <input id="17" type="radio" name="17" value="NotInterested" />
        <label for="17">Not Interested</label>
        <br />
        <input id="17" type="radio" name="17" value="SlightlyInterested" />
        <label for="17">Slightly Interested</label>
        <br />
        <input id="17" type="radio" name="17" value="Interested" />
        <label for="17">Interested</label>
        <br />
        <input id="17" type="radio" name="17" value="ExtremelyInterested" />
        <label for="17">Extremely Interested</label>
        <br />
        <br />

        @*#18*@
        <label style="font-size: 16px; font-weight: bold;">Analyze data from a sports team</label>
        <br />
        <input id="18" type="radio" name="18" value="NotInterested" />
        <label for="18">Not Interested</label>
        <br />
        <input id="18" type="radio" name="18" value="SlightlyInterested" />
        <label for="18">Slightly Interested</label>
        <br />
        <input id="18" type="radio" name="18" value="Interested" />
        <label for="18">Interested</label>
        <br />
        <input id="18" type="radio" name="18" value="ExtremelyInterested" />
        <label for="18">Extremely Interested</label>
        <br />
        <br />

        @*#19*@
        <label style="font-size: 16px; font-weight: bold;">Recommend software and hardware improvements to a company</label>
        <br />
        <input id="19" type="radio" name="19" value="NotInterested" />
        <label for="19">Not Interested</label>
        <br />
        <input id="19" type="radio" name="19" value="SlightlyInterested" />
        <label for="19">Slightly Interested</label>
        <br />
        <input id="19" type="radio" name="19" value="Interested" />
        <label for="19">Interested</label>
        <br />
        <input id="19" type="radio" name="19" value="ExtremelyInterested" />
        <label for="19">Extremely Interested</label>
        <br />
        <br />

        @*#20*@
        <label style="font-size: 16px; font-weight: bold;">I easily find patterns in things around me</label>
        <br />
        <input id="20" type="radio" name="20" value="True" />
        <label for="20">True</label>
        <br />
        <input id="20" type="radio" name="20" value="False" />
        <label for="20">False</label>
        <br />
        <br />

        @*#21*@
        <label style="font-size: 16px; font-weight: bold;">I work better in a team</label>
        <br />
        <input id="21" type="radio" name="21" value="True" />
        <label for="21">True</label>
        <br />
        <input id="21" type="radio" name="21" value="False" />
        <label for="21">False</label>
        <br />
        <br />

        @*#22*@
        <label style="font-size: 16px; font-weight: bold;">I like numbers more than words</label>
        <br />
        <input id="22" type="radio" name="22" value="True" />
        <label for="22">True</label>
        <br />
        <input id="22" type="radio" name="22" value="False" />
        <label for="22">False</label>
        <br />
        <br />

        @*#23*@
        <label style="font-size: 16px; font-weight: bold;">I work better alone</label>
        <br />
        <input id="23" type="radio" name="23" value="True" />
        <label for="23">True</label>
        <br />
        <input id="23" type="radio" name="23" value="False" />
        <label for="23">False</label>
        <br />
        <br />

        @*#24*@
        <label style="font-size: 16px; font-weight: bold;">I view myself as a good leader</label>
        <br />
        <input id="24" type="radio" name="24" value="True" />
        <label for="24">True</label>
        <br />
        <input id="24" type="radio" name="24" value="False" />
        <label for="24">False</label>
        <br />
        <br />

        @*#25*@
        <label style="font-size: 16px; font-weight: bold;">I am organized and tidy</label>
        <br />
        <input id="25" type="radio" name="25" value="True" />
        <label for="25">True</label>
        <br />
        <input id="25" type="radio" name="25" value="False" />
        <label for="25">False</label>
        <br />
        <br />

        @*#26*@
        <label style="font-size: 16px; font-weight: bold;">Difficult Puzzles are fun</label>
        <br />
        <input id="26" type="radio" name="26" value="True" />
        <label for="26">True</label>
        <br />
        <input id="26" type="radio" name="26" value="False" />
        <label for="26">False</label>
        <br />
        <br />

        @*#27*@
        <label style="font-size: 16px; font-weight: bold;">I am able to find small differences in a large area</label>
        <br />
        <input id="27" type="radio" name="27" value="True" />
        <label for="27">True</label>
        <br />
        <input id="27" type="radio" name="27" value="False" />
        <label for="27">False</label>
        <br />
        <br />

        @*#28*@
        <label style="font-size: 16px; font-weight: bold;">I enjoy helping others find solutions to their problems</label>
        <br />
        <input id="28" type="radio" name="28" value="True" />
        <label for="28">True</label>
        <br />
        <input id="28" type="radio" name="28" value="False" />
        <label for="28">False</label>
        <br />
        <br />

        <a class="btn btn-outline-light py-3 px-4 rounded-pill" style="background-color: black;" asp-controller="Home" asp-action="SubmitSurvey">Submit</a>
        <br />
        <br />
    </form>
</fieldset>

<br />
<br />