@{
    ViewData["Title"] = "Survey Page";
    ViewData["Header"] = "Survey";
}

@*@model SurveyModel;*@

<br />


@*SURVEY*@
<fieldset style="width: 700px;">
    <form style="background-color: #F4F4F4; padding-left:18%; padding-top:10%;opacity: 0.8; width: 1100px; margin-bottom: auto; margin-left: auto; margin-right: auto; border-radius: 20px;" method="post">

        <div asp-validation-summary="All"></div>

        @*#1*@
        <label style="font-size:16px; font-weight:bold;">What was your favorite part of IS 201?</label>
        <br />
        <input id="IS201" type="radio" name="IS201" value="Tableau" />
        <label for="IS201">Tableau</label>
        <br />
        <input id="IS201" type="radio" name="IS201" value="HTML/CSS" />
        <label for="IS201">HTML/CSS</label>
        <br />
        <input id="IS201" type="radio" name="IS201" value="VBA" />
        <label for="IS201">VBA</label>
        <br />
        <input id="IS201" type="radio" name="IS201" value="ERD" />
        <label for="IS201">Building ERD's</label>
        <br />
        <input id="IS201" type="radio" name="IS201" value="Security" />
        <label for="IS201">Security and Privacy</label>
        <br />
        <input id="IS201" type="radio" name="IS201" value="BI" />
        <label for="IS201">Business Intelligence (Data Visualizations, Analytics, Solver)</label>
        <br />
        <input id="IS201" type="radio" name="IS201" value="NA" />
        <label for="IS201">Haven't taken IS 201</label>
        <br />
        <br />

        @*#2*@
        <label style="font-size: 16px; font-weight: bold;">Did you enjoy IS 303 or CS 142?</label>
        <br />
        <input id="IS303" type="radio" name="IS303" value="Yes" />
        <label for="IS303">Yes</label>
        <br />
        <input id="IS303" type="radio" name="IS303" value="No" />
        <label for="IS303">No</label>
        <br />
        <input id="IS303" type="radio" name="IS303" value="NA" />
        <label for="IS303">Haven't taken either</label>
        <br />
        <br />

        @*#3*@
        <label style="font-size: 16px; font-weight: bold;">Do you prefer your work to consist mostly of working with people or with technology?</label>
        <br />
        <input id="PeopleTech" type="radio" name="PeopleTech" value="People" />
        <label for="PeopleTech">People</label>
        <br />
        <input id="PeopleTech" type="radio" name="PeopleTech" value="Technology" />
        <label for="PeopleTech">Technology</label>
        <br />
        <input id="PeopleTech" type="radio" name="PeopleTech" value="Both" />
        <label for="PeopleTech">Mix of both</label>
        <br />
        <br />

        @*#4*@
        <label style="font-size: 16px; font-weight: bold;">What technologies interest you the most?</label>
        <br />
        <input id="Technologies" type="radio" name="Technologies" value="C#, JavaScript, HTML, CSS" />
        <label for="Technologies">C#, JavaScript, HTML, CSS</label>
        <br />
        <input id="Technologies" type="radio" name="PeopleTech" value="Encryption, Password Cracking, Penetration Testing" />
        <label for="Technologies">Encryption, Password Cracking, Penetration Testing</label>
        <br />
        <input id="Technologies" type="radio" name="Technologies" value="Organization through Kanban" />
        <label for="Technologies">Organization through Kanban</label>
        <br />
        <input id="Technologies" type="radio" name="Technologies" value="Statistics with Python" />
        <label for="Technologies">Statistics with Python</label>
        <br />
        <input id="Technologies" type="radio" name="Technologies" value="Salesforce" />
        <label for="Technologies">Salesforce</label>
        <br />
        <input id="Technologies" type="radio" name="Technologies" value="Ticketing Systems (Jira)" />
        <label for="Technologies">Ticketing Systems (Jira)</label>
        <br />
        <br />

        @*#5*@
        <label style="font-size: 16px; font-weight: bold;">Which of these scenarios/problems would you most be interested in tackling?</label>
        <br />
        <input id="Problems" type="radio" name="Problems" value="Unidentified Error" />
        <label for="Problems">Code is throwing an unidentified error</label>
        <br />
        <input id="Problems" type="radio" name="Problems" value="Monitoring System" />
        <label for="Problems">A monitoring system throwing an alert for secure information being accessed</label>
        <br />
        <input id="Problems" type="radio" name="Problems" value="New project" />
        <label for="Problems">A company has a new project that needs requirements created and planned</label>
        <br />
        <input id="Problems" type="radio" name="Problems" value="Model to predict" />
        <label for="Problems">Creating a model to predict whether or not customers will use a product based on set features</label>
        <br />
        <input id="Problems" type="radio" name="Problems" value="Create a technology" />
        <label for="Problems">Working with a company to create a technology that fits their needs</label>
        <br />
        <input id="Problems" type="radio" name="Problems" value="Troubleshooting" />
        <label for="Problems">Troubleshooting issues with the company website </label>
        <br />
        <br />

        @*#6*@
        <label style="font-size: 16px; font-weight: bold;">What word best describes you?</label>
        <br />
        <input id="Describe" type="radio" name="Describe" value="Designer/Creator" />
        <label for="Describe">Designer/Creator</label>
        <br />
        <input id="Describe" type="radio" name="Describe" value="Preventer" />
        <label for="Describe">Preventer</label>
        <br />
        <input id="Describe" type="radio" name="Describe" value="Planner" />
        <label for="Describe">Planner</label>
        <br />
        <input id="Describe" type="radio" name="Describe" value="Leader" />
        <label for="Describe">Leader</label>
        <br />
        <input id="Describe" type="radio" name="Describe" value="Problem Solver" />
        <label for="Describe">Problem Solver</label>
        <br />
        <input id="Describe" type="radio" name="Describe" value="Analytical" />
        <label for="Describe">Analytical</label>
        <br />
        <br />

        @*#7*@
        <label style="font-size: 16px; font-weight: bold;">Would you prefer more or less frequent change when working with technologies in your career?</label>
        <br />
        <input id="Describe" type="radio" name="Describe" value="More Frequent" />
        <label for="Describe">More Frequent</label>
        <br />
        <input id="Describe" type="radio" name="Describe" value="Less Frequent" />
        <label for="Describe">Less Frequent</label>
        <br />
        <br />

        @*#8*@
        <label style="font-size: 16px; font-weight: bold;">Which of the following activities do you enjoy the most?</label>
        <br />
        <input id="Activities" type="radio" name="Activities" value="Math" />
        <label for="Activities">Use Math and Calculations</label>
        <br />
        <input id="Activities" type="radio" name="Activities" value="Innovate" />
        <label for="Activities">Innovate and Create</label>
        <br />
        <input id="Activities" type="radio" name="Activities" value="Support" />
        <label for="Activities">Support and Assist</label>
        <br />
        <input id="Activities" type="radio" name="Activities" value="Plan" />
        <label for="Activities">Plan and Organize</label>
        <br />
        <input id="Activities" type="radio" name="Activities" value="Treat" />
        <label for="Activities">Treat and Cure</label>
        <br />
        <input id="Activities" type="radio" name="Activities" value="Manage" />
        <label for="Activities">Manage and Supervise</label>
        <br />
        <br />


        <label style="font-size: 20px; font-weight: bold;">Please rank the following</label>
        <br />

        @*#9*@
        <label style="font-size: 16px; font-weight: bold;">Utilizing artistic abilities</label>
        <br />
        <input id="Artistic" type="radio" name="Artistic" value="NotInterested" />
        <label for="Artistic">Not Interested</label>
        <input id="Artistic" type="radio" name="Artistic" value="SlightlyInterested" />
        <label for="Artistic">Slightly Interested</label>
        <input id="Artistic" type="radio" name="Artistic" value="Interested" />
        <label for="Artistic">Interested</label>
        <input id="Artistic" type="radio" name="Artistic" value="ExtremelyInterested" />
        <label for="Artistic">Extremely Interested</label>
        <br />
        <br />

        @*#10*@
        <label style="font-size: 16px; font-weight: bold;">Build a Mobile App</label>
        <br />
        <input id="mobileapp" type="radio" name="mobileapp" value="NotInterested" />
        <label for="mobileapp">Not Interested</label>
        <br />
        <input id="mobileapp" type="radio" name="mobileapp" value="SlightlyInterested" />
        <label for="mobileapp">Slightly Interested</label>
        <br />
        <input id="mobileapp" type="radio" name="mobileapp" value="Interested" />
        <label for="mobileapp">Interested</label>
        <br />
        <input id="mobileapp" type="radio" name="mobileapp" value="ExtremelyInterested" />
        <label for="mobileapp">Extremely Interested</label>
        <br />
        <br />

        @*#11*@
        <label style="font-size: 16px; font-weight: bold;">Review data and present your findings to a team</label>
        <br />
        <input id="review" type="radio" name="review" value="NotInterested" />
        <label for="review">Not Interested</label>
        <br />
        <input id="review" type="radio" name="review" value="SlightlyInterested" />
        <label for="Artistic">Slightly Interested</label>
        <br />
        <input id="review" type="radio" name="review" value="Interested" />
        <label for="review">Interested</label>
        <br />
        <input id="review" type="radio" name="review" value="ExtremelyInterested" />
        <label for="review">Extremely Interested</label>
        <br />
        <br />

        @*#12*@
        <label style="font-size: 16px; font-weight: bold;">Create and design graphics</label>
        <br />
        <input id="design" type="radio" name="design" value="NotInterested" />
        <label for="design">Not Interested</label>
        <br />
        <input id="design" type="radio" name="design" value="SlightlyInterested" />
        <label for="design">Slightly Interested</label>
        <br />
        <input id="design" type="radio" name="design" value="Interested" />
        <label for="design">Interested</label>
        <br />
        <input id="design" type="radio" name="design" value="ExtremelyInterested" />
        <label for="design">Extremely Interested</label>
        <br />
        <br />


        @*#13*@
        <label style="font-size: 16px; font-weight: bold;">Support others in their ability to utilize technology devices</label>
        <br />
        <input id="support" type="radio" name="support" value="NotInterested" />
        <label for="support">Not Interested</label>
        <br />
        <input id="support" type="radio" name="support" value="SlightlyInterested" />
        <label for="support">Slightly Interested</label>
        <br />
        <input id="support" type="radio" name="support" value="Interested" />
        <label for="support">Interested</label>
        <br />
        <input id="support" type="radio" name="support" value="ExtremelyInterested" />
        <label for="support">Extremely Interested</label>
        <br />
        <br />


        @*#14*@
        <label style="font-size: 16px; font-weight: bold;">Lead a team to complete projects</label>
        <br />
        <input id="lead" type="radio" name="lead" value="NotInterested" />
        <label for="lead">Not Interested</label>
        <br />
        <input id="lead" type="radio" name="lead" value="SlightlyInterested" />
        <label for="lead">Slightly Interested</label>
        <br />
        <input id="lead" type="radio" name="lead" value="Interested" />
        <label for="lead">Interested</label>
        <br />
        <input id="lead" type="radio" name="lead" value="ExtremelyInterested" />
        <label for="lead">Extremely Interested</label>
        <br />
        <br />



        @*#15*@
        <label style="font-size: 16px; font-weight: bold;">Monitoring a companies security checkpoints</label>
        <br />
        <input id="checkpoints" type="radio" name="checkpoints" value="NotInterested" />
        <label for="checkpoints">Not Interested</label>
        <br />
        <input id="checkpoints" type="radio" name="checkpoints" value="SlightlyInterested" />
        <label for="checkpoints">Slightly Interested</label>
        <br />
        <input id="checkpoints" type="radio" name="checkpoints" value="Interested" />
        <label for="checkpoints">Interested</label>
        <br />
        <input id="checkpoints" type="radio" name="checkpoints" value="ExtremelyInterested" />
        <label for="checkpoints">Extremely Interested</label>
        <br />
        <br />


        @*#16*@
        <label style="font-size: 16px; font-weight: bold;">Create a database from scratch for a company</label>
        <br />
        <input id="database" type="radio" name="database" value="NotInterested" />
        <label for="database">Not Interested</label>
        <br />
        <input id="database" type="radio" name="database" value="SlightlyInterested" />
        <label for="database">Slightly Interested</label>
        <br />
        <input id="database" type="radio" name="database" value="Interested" />
        <label for="database">Interested</label>
        <br />
        <input id="database" type="radio" name="database" value="ExtremelyInterested" />
        <label for="database">Extremely Interested</label>
        <br />
        <br />

        @*#17*@
        <label style="font-size: 16px; font-weight: bold;">Participate in business strategy sessions</label>
        <br />
        <input id="strategy" type="radio" name="strategy" value="NotInterested" />
        <label for="strategy">Not Interested</label>
        <br />
        <input id="strategy" type="radio" name="strategy" value="SlightlyInterested" />
        <label for="strategy">Slightly Interested</label>
        <br />
        <input id="strategy" type="radio" name="strategy" value="Interested" />
        <label for="strategy">Interested</label>
        <br />
        <input id="strategy" type="radio" name="strategy" value="ExtremelyInterested" />
        <label for="strategy">Extremely Interested</label>
        <br />
        <br />

        @*#18*@
        <label style="font-size: 16px; font-weight: bold;">Analyze data from a sports team</label>
        <br />
        <input id="sports" type="radio" name="sports" value="NotInterested" />
        <label for="sports">Not Interested</label>
        <br />
        <input id="sports" type="radio" name="sports" value="SlightlyInterested" />
        <label for="sports">Slightly Interested</label>
        <br />
        <input id="sports" type="radio" name="sports" value="Interested" />
        <label for="sports">Interested</label>
        <br />
        <input id="sports" type="radio" name="sports" value="ExtremelyInterested" />
        <label for="sports">Extremely Interested</label>
        <br />
        <br />

        @*#19*@
        <label style="font-size: 16px; font-weight: bold;">Recommend software and hardware improvements to a company</label>
        <br />
        <input id="improvements" type="radio" name="improvements" value="NotInterested" />
        <label for="improvements">Not Interested</label>
        <br />
        <input id="improvements" type="radio" name="improvements" value="SlightlyInterested" />
        <label for="improvements">Slightly Interested</label>
        <br />
        <input id="improvements" type="radio" name="improvements" value="Interested" />
        <label for="improvements">Interested</label>
        <br />
        <input id="improvements" type="radio" name="improvements" value="ExtremelyInterested" />
        <label for="improvements">Extremely Interested</label>
        <br />
        <br />

        @*#20*@
        <label style="font-size: 16px; font-weight: bold;">I easily find patterns in things around me</label>
        <br />
        <input id="pattern" type="radio" name="pattern" value="True" />
        <label for="Artistic">True</label>
        <br />
        <input id="pattern" type="radio" name="pattern" value="False" />
        <label for="pattern">False</label>
        <br />
        <br />

        @*#21*@
        <label style="font-size: 16px; font-weight: bold;">I work better in a team</label>
        <br />
        <input id="pattern" type="radio" name="pattern" value="True" />
        <label for="Artistic">True</label>
        <br />
        <input id="pattern" type="radio" name="pattern" value="False" />
        <label for="pattern">False</label>
        <br />
        <br />

        @*#22*@
        <label style="font-size: 16px; font-weight: bold;">I like numbers more than words</label>
        <br />
        <input id="pattern" type="radio" name="pattern" value="True" />
        <label for="Artistic">True</label>
        <br />
        <input id="pattern" type="radio" name="pattern" value="False" />
        <label for="pattern">False</label>
        <br />
        <br />

        @*#23*@
        <label style="font-size: 16px; font-weight: bold;">I work better alone</label>
        <br />
        <input id="pattern" type="radio" name="pattern" value="True" />
        <label for="Artistic">True</label>
        <br />
        <input id="pattern" type="radio" name="pattern" value="False" />
        <label for="pattern">False</label>
        <br />
        <br />

        @*#24*@
        <label style="font-size: 16px; font-weight: bold;">I view myself as a good leader</label>
        <br />
        <input id="pattern" type="radio" name="pattern" value="True" />
        <label for="Artistic">True</label>
        <br />
        <input id="pattern" type="radio" name="pattern" value="False" />
        <label for="pattern">False</label>
        <br />
        <br />

        @*#25*@
        <label style="font-size: 16px; font-weight: bold;">I am organized and tidy</label>
        <br />
        <input id="pattern" type="radio" name="pattern" value="True" />
        <label for="Artistic">True</label>
        <br />
        <input id="pattern" type="radio" name="pattern" value="False" />
        <label for="pattern">False</label>
        <br />
        <br />

        @*#26*@
        <label style="font-size: 16px; font-weight: bold;">Difficult Puzzles are fun</label>
        <br />
        <input id="pattern" type="radio" name="pattern" value="True" />
        <label for="Artistic">True</label>
        <br />
        <input id="pattern" type="radio" name="pattern" value="False" />
        <label for="pattern">False</label>
        <br />
        <br />

        @*#27*@
        <label style="font-size: 16px; font-weight: bold;">I am able to find small differences in a large area</label>
        <br />
        <input id="pattern" type="radio" name="pattern" value="True" />
        <label for="Artistic">True</label>
        <br />
        <input id="pattern" type="radio" name="pattern" value="False" />
        <label for="pattern">False</label>
        <br />
        <br />

        @*#2*@
        <label style="font-size: 16px; font-weight: bold;">I enjoy helping others find solutions to their problems</label>
        <br />
        <input id="pattern" type="radio" name="pattern" value="True" />
        <label for="Artistic">True</label>
        <br />
        <input id="pattern" type="radio" name="pattern" value="False" />
        <label for="pattern">False</label>
        <br />
        <br />

        <a class="btn btn-outline-light py-3 px-4 rounded-pill" style="background-color: black;" asp-controller="Home" asp-action="SubmitSurvey">Submit</a>
        <br />
        <br />
    </form>
</fieldset>

<br />
<br />